/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff"), url("../fonts/montserrat-v24-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-700.woff") format("woff"), url("../fonts/montserrat-v24-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v24-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-800.woff") format("woff"), url("../fonts/montserrat-v24-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff"), url("../fonts/montserrat-v24-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-700.woff") format("woff"), url("../fonts/montserrat-v24-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v24-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-800.woff") format("woff"), url("../fonts/montserrat-v24-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff"), url("../fonts/montserrat-v24-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-700.woff") format("woff"), url("../fonts/montserrat-v24-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v24-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-800.woff") format("woff"), url("../fonts/montserrat-v24-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff"), url("../fonts/montserrat-v24-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-700.woff") format("woff"), url("../fonts/montserrat-v24-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v24-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-800.woff") format("woff"), url("../fonts/montserrat-v24-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff"), url("../fonts/montserrat-v24-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-700.woff") format("woff"), url("../fonts/montserrat-v24-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v24-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-800.woff") format("woff"), url("../fonts/montserrat-v24-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

* {
  font-family: 'Montserrat', 'Roboto', "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1200px) {
  body {
    padding: 0 10px 0 10px;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 2fr 3fr;
      grid-template-columns: 135px 2fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
}

@media screen and (max-width: 1200px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: 60px 1fr 1fr;
        grid-template-columns: 60px 1fr 1fr;
  }
}

main {
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  main {
    margin-top: 30px;
  }
}

.logo {
  width: auto;
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 87px;
    margin-right: 20px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  position: relative;
  z-index: 2;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-left: 54px;
  margin-right: 16px;
}

.nav__item:first-child {
  text-decoration: underline;
}

.header-contacts {
  padding: 30px 36px;
  background-color: #2B7AF1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 0px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 1200px) {
  .header-contacts {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 480px) {
  .header-contacts {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .header-contacts__item:first-child {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header-contacts__item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .header-contacts__item p {
    display: none;
  }
}

.contacts__img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.header-contacts__link {
  padding: 15px 30px;
  background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  list-style: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .header-contacts__link {
    display: none;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 1200px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    margin-left: 16px;
  }
  .header__burger span {
    background-color: black;
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__nav {
    padding: 100px 20px 20px 10px;
    position: fixed;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: #FFB039;
    top: -100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
  .header__nav.active {
    top: 0;
  }
  .header__nav {
    display: block;
  }
  .header__nav li {
    margin-bottom: 20px;
  }
  body.lock {
    overflow: hidden;
  }
  .nav__item {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  main {
    margin-top: 20px;
  }
  .contacts__item:first-child {
    display: none;
  }
}

@media (max-width: 480px) {
  .contacts__item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__text {
    display: none;
  }
  .contacts__link {
    display: none;
  }
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff"), url("../fonts/montserrat-v24-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-700.woff") format("woff"), url("../fonts/montserrat-v24-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v24-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-800.woff") format("woff"), url("../fonts/montserrat-v24-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

.hidden {
  display: none;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.flat__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #2B7AF1;
}

@media screen and (max-width: 1200px) {
  .flat__heading {
    font-size: 24px;
    line-height: 29px;
  }
}

.flat__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .flat__presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
}

.flat__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flat__item {
  max-width: 140px;
}

.flat__images button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  max-width: 40px;
}

.description {
  margin-top: 54px;
  margin-left: 43px;
}

@media screen and (max-width: 480px) {
  .description {
    margin-left: 30px;
  }
}

.description__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #111;
}

.description__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #111;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .description__text {
    margin-top: 10px;
  }
}

.description__price {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 32px;
  color: #2B7AF1;
}

@media screen and (max-width: 1200px) {
  .description__price {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .description__price {
    margin-top: 10px;
  }
}

.descriptin__address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #111;
  margin-top: 23px;
}

@media screen and (max-width: 1200px) {
  .descriptin__address {
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .descriptin__address {
    margin-top: 8px;
  }
}

.description__link {
  margin-top: 30px;
  padding: 15px 30px;
  background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  list-style: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .description__link {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .description__link {
    margin-top: 16px;
  }
}

.flat__equipment {
  margin-top: 100px;
}

@media screen and (max-width: 1200px) {
  .flat__equipment {
    margin-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  .flat__equipment {
    margin-top: 30px;
  }
}

.equipment__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #111;
}

.equipment__list {
  margin-top: 20px;
  -webkit-column-count: 3;
          column-count: 3;
  margin-left: 18px;
}

@media screen and (max-width: 480px) {
  .equipment__list {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media screen and (max-width: 320px) {
  .equipment__list {
    -webkit-column-count: 1;
            column-count: 1;
    margin-top: 15px;
  }
}

.equipment__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: black;
}

.equipment__item::marker {
  color: #FFB039;
}

.flat__view {
  margin-top: 80px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .flat__view {
    margin-top: 44px;
  }
}

@media screen and (max-width: 768px) {
  .flat__view {
    margin-top: 55px;
  }
}

@media screen and (max-width: 320px) {
  .flat__view {
    display: none;
  }
}

.view__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #111;
}

@media screen and (max-width: 1200px) {
  .view__heading {
    font-size: 14px;
    line-height: 17px;
  }
}

.view__link {
  padding: 15px 30px;
  background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  list-style: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .view__link {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .view__link {
    margin-top: 20px;
  }
}

.about {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #FF7A00;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

@media screen and (max-width: 480px) {
  .about__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #2B7AF1;
}

.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #111;
  margin-top: 40px;
}

.about__icons {
  margin-top: 29px;
}

.icons__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons__item {
  max-width: 191px;
}

.contacts {
  margin-top: 100px;
  margin-bottom: 160px;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .contacts__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #2B7AF1;
}

.contacts__list {
  margin-top: 50px;
  max-width: 482px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px;
}

.contacts__item:nth-child(3) {
  margin-bottom: 90px;
}

.contacts__link {
  padding: 15px 30px;
  background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  list-style: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

.reviews {
  background-color: #2B7AF1;
  padding-top: 100px;
  padding-bottom: 170px;
}

.reviews__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  color: white;
}

.reviews__cards {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .reviews__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  background: white;
  border-radius: 10px;
  max-width: 630px;
  padding: 40px 40px 40px 45px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "heading . stars" "text text text" "people . date";
}

@media screen and (max-width: 1200px) {
  .card {
    padding: 10px;
  }
  .card:first-child {
    margin-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    margin-top: 30px;
  }
  .card:first-child {
    margin-right: 0px;
  }
}

.card__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2B7AF1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
}

@media screen and (max-width: 1200px) {
  .card__heading {
    font-size: 14px;
    line-height: 17px;
  }
}

.card__stars {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: stars;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text;
}

@media screen and (max-width: 1200px) {
  .card__text {
    font-size: 12px;
    line-height: 16px;
  }
}

.card__people {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: people;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
}

.people__img {
  width: 39px;
  height: 39px;
  margin-right: 20px;
}

@media screen and (max-width: 1200px) {
  .people__img {
    display: none;
  }
}

.people__name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #2B7AF1;
}

@media screen and (max-width: 1200px) {
  .people__name {
    font-size: 10px;
    line-height: 130%;
  }
}

.people__location {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}

@media screen and (max-width: 1200px) {
  .people__location {
    font-size: 8px;
    line-height: 130%;
  }
}

.card__date {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: date;
}

@media screen and (max-width: 1200px) {
  .card__date {
    font-size: 8px;
    line-height: 130%;
  }
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.feedback__form {
  max-width: 393px;
  padding: 44px 40px 36px 40px;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
          filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
  margin-left: 188px;
  margin-right: 84px;
}

@media screen and (max-width: 1200px) {
  .feedback__form {
    margin-left: 16px;
    margin-right: 11px;
  }
}

@media screen and (max-width: 480px) {
  .feedback__form {
    max-width: 100%;
  }
}

.feedback__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2B7AF1;
  text-align: center;
  margin-bottom: 24px;
}

input {
  max-width: 313px;
  height: 42px;
  margin-bottom: 15px;
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 3px;
}

input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

textarea {
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

.feedback__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 15px 30px;
  background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  list-style: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin-top: 24px;
  display: block;
}

.feedback__block {
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .feedback__block {
    display: none;
  }
}

.feedback__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .feedback__text {
    font-size: 14px;
    line-height: 140%;
  }
}

.feedback__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #2B7AF1;
}

.feedback__post {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff"), url("../fonts/montserrat-v24-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff"), url("../fonts/montserrat-v24-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-700.woff") format("woff"), url("../fonts/montserrat-v24-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v24-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v24-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-800.woff") format("woff"), url("../fonts/montserrat-v24-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v24-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin-regular.woff") format("woff"), url("../fonts/open-sans-v29-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

.footer {
  padding-top: 400px;
  background-image: url("../../images/copyright.jpg");
  background-size: cover;
  color: white;
  margin-top: -196px;
  padding-bottom: 22px;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 60px;
    padding-top: 0;
    background-image: none;
    background-color: #2B7AF1;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 135px;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .footer__list {
    display: none;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.footer__item:first-child {
  text-decoration: underline;
}

.socialmedia__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .socialmedia__list p {
    display: none;
  }
}

.socialmedia__list:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.socialmedia__list:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 191px;
}

.socialmedia__list img {
  width: 40px;
}

.socialmedia__image {
  width: 40px;
  margin-right: 10px;
}

.footer__rights {
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  border-top: 1px solid white;
}

@media screen and (max-width: 1200px) {
  .footer__rights {
    display: inline;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__rights {
    display: none;
  }
}

.footer__text {
  display: block;
}

@media screen and (max-width: 1200px) {
  .footer__text {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */