@import "../utils/_fonts.scss";
@import "../utils/variables";

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin Montserrat-family {
    font-family: 'Montserrat', 'Roboto', "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

@mixin link {
    padding: 15px 30px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    list-style: none;
    display: block;
    width: fit-content;
    text-decoration: none;
}

// @mixin media-min-width-medium {
//     @media screen and (min-width: 768px) {
//         @content;
//     }
// }

// mixins популярных брекпоинтов
@mixin desktop {
    @media screen and (max-width: 1200px) {
         @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin tablets {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin phones {
   @media screen and (max-width: 320px) {
        @content;
   }
}


@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}