.header__burger {
    display: none;
}

@media (max-width: 1200px) {
    // .header {
    //     justify-content: space-between;
    //     grid-template-columns: 60px 1fr 1fr;
    // }
    // main {
    //     margin-top: 30px;
    // }

    // .logo {
    //     width: 87px;
    //     margin-right: 20px;
    // }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        margin-left: 16px;
    }
    .header__burger span {
        background-color: black;
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content:'';
        background-color: black;
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__nav {
        padding: 100px 20px 20px 10px;
        position: fixed;
        left: 0;
        width: 100%;
        height: 35%;
        background-color: $light-orange;
        top: -100%;
        transition: all 0.5s ease 0s;
        overflow: auto;
    }

    .header__nav.active {
        top: 0;
    }


    .header__nav {
        display: block;
    }

    .header__nav li {
        margin-bottom: 20px;
    }

    body.lock {
        overflow: hidden;
    }

    .nav__item {
        font-size: 24px;
    }
}

@media (max-width: 768px) {

    main {
        margin-top: 20px;
    }

    .contacts__item:first-child {
        display: none;
    }
}

@media (max-width: 480px) {

    .contacts__item:first-child {
        display:flex;
    }

    .contacts__text {
        display: none;
    }

    .contacts__link {
        display: none;
    }
}