@import "../utils/mixins";
@import "../utils/variables";

.footer {
    padding-top: 400px;
    // background: rgba(17, 17, 17, 0.5);
    // background-image: url("../../images/kitchen.jpg");
    background-image: url("../../images/copyright.jpg");
    background-size: cover;
    color: white;
    margin-top: -196px;
    padding-bottom: 22px;

    // @include media-min-width-medium {
    //     display: none;
    // }

    @include tablets {
        margin-top: 60px;
        padding-top: 0;
        background-image: none;
        background-color: $blue;
    }
}

.footer__contacts {
    display: flex;
    align-items: center;
}

.logo {
    width: 135px;

    // @include desktop {
    //     margin-right: 210px;
    // }
}
.footer__list {
    list-style: none;
    display: flex;

    @include desktop {
        display: none;
    }
}
.footer__item {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-right: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    &:first-child {
        text-decoration: underline;
    }
}

.socialmedia__list {
    list-style: none;
    display: flex;
    // width: 200px;
    
    @include laptop {
        p {
            display: none;
        }
    }

    &:nth-child(1) {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    &:nth-child(2) {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        min-width: 191px;
    }

    & img {
        width: 40px;
    }
}
.socialmedia__image {
    width: 40px;
    margin-right: 10px;
}
.footer__rights {
    margin-top: 21px;
    display: flex;
    padding-top: 20px;
    border-top: 1px solid white;

    @include desktop {
        display: inline;
        text-align:  center;
    }

    @include tablets {
        display: none;
    }
}
.footer__text {
    display: block;

    @include desktop {
        margin-top: 20px;
    }
}