@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/fonts";

* {
    // @include wrapper;
    @include Montserrat-family;

    // @include desktop {
    //     margin-left: 16px;
    //     margin-right: 16px;
    // }
}

body {
    @include desktop {
        padding: 0 10px 0 10px;
    }
}

.header {
    display: grid;
    grid-template-columns: 135px 2fr 3fr;
    align-items: center;
    font-style: normal;

    @include desktop {
        justify-content: space-between;
        grid-template-columns: 60px 1fr 1fr;
    }
}

main {
    margin-top: 50px;

    @include desktop {
        margin-top: 30px;
    }
}

.logo {
    width: auto;
    // display: block;

    @include desktop {
        width: 87px;
        margin-right: 20px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    position: relative;
    z-index: 2;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    margin-left: 54px;
    margin-right: 16px;
}

.nav__item {

    &:first-child {
        text-decoration: underline;
    }
}

.header-contacts {
    padding: 30px 36px;
    background-color: $blue;
    display: flex;
    justify-content: space-between; 
    list-style: none;
    color: white;
    align-items: center;
    border-radius: 0px 0px 0px 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    @include desktop {
        font-size: 12px;
        line-height: 15px;
    }

    @include tablets {
        align-items: flex-end;
    }
}

.header-contacts__item {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:first-child {
        @include laptop {
            display: none;
        }

        @include tablets {
            display: flex;
        }
    }

    p {
        @include tablets {
            display: none;
        }
    }
}

.contacts__img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.header-contacts__link {
    @include link;
    font-weight: 400;

    @include tablets {
        display: none;
    }
}

