@import "../utils/mixins" ;

.hidden {
    display: none;
}

.wrapper {
    @include wrapper;
}

.flat__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

    color: $blue;

    @include desktop {
        font-size: 24px;
        line-height: 29px;
    }
}

.flat__presentation {
    display: flex;
    margin-top: 40px;

    @include tablets {
        flex-direction: column;
        margin-top: 30px;
    }
}
// .flat__images {
// }

// .flat__hero-image {
// }

.flat__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.flat__item {
    max-width: 140px;
}

.flat__images button {
    @include button-reset;
    max-width: 40px;

}
.description {
    margin-top: 54px;
    margin-left: 43px;

    @include tablets {
        margin-left: 30px;
    }
}
.description__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: $dark;
}
.description__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: $dark;
    margin-top: 20px;

    @include desktop {
        margin-top: 10px;
    }
}
.description__price {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    margin-top: 32px;

    color: $blue;

    @include desktop {
        margin-top: 20px;
    }

    @include phones {
        margin-top: 10px;
    }

}
.descriptin__address {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $dark;

    margin-top: 23px;

    @include desktop {
        margin-top: 10px;
    }

    @include phones {
        margin-top: 8px;
    }
}
.description__link {
    margin-top: 30px;
    @include link;
    margin-left: 0;

    @include desktop {
        margin-top: 20px;
    }

    @include phones {
        margin-top: 16px;
    }
}
.flat__equipment {
    margin-top: 100px;

    @include desktop {
        margin-top: 50px;
    }

    @include phones {
        margin-top: 30px;
    }
}
.equipment__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: $dark;

}
.equipment__list {
    margin-top: 20px;
    column-count: 3;
    margin-left: 18px;

    @include tablets {
        column-count: 2;
    }

    @include phones {
        column-count: 1;
        margin-top: 15px;
    }
}
.equipment__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;

    color: black;

    &::marker {
        color: $light-orange;
    }
}
.flat__view {
    margin-top: 80px;
    text-align: center;

    @include desktop {
        margin-top: 44px;
    }
    
    @include laptop {
        margin-top: 55px;
    }

    @include phones {
        display: none;
    }
}
.view__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    @include desktop {
        font-size: 14px;
        line-height: 17px;
    }

    color: $dark;
}
.view__link {
    @include link;
    margin-top: 20px;

    @include desktop {
        margin-top: 10px;
    }

    @include tablets {
        margin-top: 20px;
    }
}

// О нас

.about {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid $dark-orange;
}
.about__description {
    display: flex;
    margin-bottom: 100px;

    @include tablets {
        flex-direction: column;
    }
}
.about__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: $blue;
}
.about__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $dark;
    margin-top: 40px;
}
.about__icons {
    margin-top: 29px;
}
.icons__list {
    list-style: none;
    display: flex;
}
.icons__item {
    max-width: 191px;
}

//контакты
.contacts {
    margin-top: 100px;
    margin-bottom: 160px;
    // display: flex;

    // @include phones {
    //     flex-direction: column;
    // }
}

.contacts__block {
    // display: grid;
    // grid-template-columns: 2fr 3fr;

    display: flex;

    @include phones {
        flex-direction: column;
    }
}
.contacts__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: $blue;
}
.contacts__list {
    margin-top: 50px;
    max-width: 482px;
}
.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 24px;

    &:nth-child(3) {
        margin-bottom: 90px;
    }
}

.contacts__link {
    @include link;
}

.contacts__img {
    // grid-row: span 2;
    // grid-column: span 2;
}

.contacnts__map {
    // width: 100%;
    // height: auto;
    // @include desktop {
    //     width: 656px;
    //     height: auto;
    // }
}

//отзывы
.reviews {
    background-color: $blue ;
    padding-top: 100px;
    padding-bottom: 170px;
    
}
.reviews__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    color: white;

}
.reviews__cards {
    list-style: none;
    display: flex;
    margin-top: 40px;
    // margin-right: 10px;

    @include tablets{
        flex-direction: column;
    }
}

.card {
    background: white;
    border-radius: 10px;
    max-width: 630px;
    padding: 40px 40px 40px 45px;
    display: grid;
    grid-template-areas: "heading . stars"
                        "text text text"
                        "people . date";
    // gap: 20px;

    @include desktop {
        padding: 10px;

        &:first-child {
            margin-right: 10px;
        }
    }

    @include tablets {
        margin-top: 30px;

        &:first-child {
            margin-right: 0px;
        }
    }
}
.card__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $blue;
    grid-area: heading;

    @include desktop {
        font-size: 14px;
        line-height: 17px;
    }

}
.card__stars {
    grid-area: stars;
}
.card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    grid-area: text;
    
    @include desktop {
        font-size: 12px;
        line-height: 16px;
    }
}
.card__people {
    grid-area: people;
    display: flex;
    align-self: end;
}
.people__img {
    width: 39px;
    height: 39px;
    margin-right: 20px;

    @include desktop {
        display: none;
    }
}
.people__name {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $blue;

    @include desktop {
        font-size: 10px;
        line-height: 130%;
    }
}
.people__location {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;

    @include desktop {
        font-size: 8px;
        line-height: 130%;
    }
}
.card__date {
    align-self: end;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    grid-area: date;

    @include desktop {
        font-size: 8px;
        line-height: 130%;
    }
}
//форма обратной связи
.feedback {
    display: flex;
    margin-top: 100px;
}
.feedback__form {
    max-width: 393px;
    padding: 44px 40px 36px 40px;
    background: #FFFFFF;
    border-radius: 10px; 
    filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
    margin-left: 188px;
    margin-right: 84px;

    @include desktop {
        margin-left: 16px;
        margin-right: 11px;
    }

    @include tablets {
        max-width: 100%;
    }
}

.feedback__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: $blue;
    text-align: center;
    margin-bottom: 24px;
}

input {
    max-width: 313px;
    height: 42px;
    margin-bottom: 15px;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 3px;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(17, 17, 17, 0.5);
    }
}

textarea {
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(17, 17, 17, 0.5);
    }
}

.feedback__button {
    @include button-reset;
    @include link;
    margin-top: 24px;
    display: block;
}
.feedback__block {
    margin-top: 40px;

    @include tablets {
        display: none;
    }
}
.feedback__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;

    @include desktop {
        font-size: 14px;
        line-height: 140%;
    }
}
.feedback__name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
    
    color: $blue;
}
.feedback__post {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
// Медиа запросы

// @media (max-width: 1000px) {


//     .about {
//         margin-top: 50px;
//     }
// }
// @media (max-width: 768px) {

//     .contacts__map {
//         width: 464px;
//         height: auto;
//     }
// }

// @media (max-width: 480px) {
//     .flat__heading {
//         font-size: 20px;
//         line-height: 24px;
//     }


//     .contacts__map {
//         width: 190px;
//         height: 100%; //не знаю как
//     }

//     .feedback__form {
//         width: 100%;
//     }

//     .feedback__block {
//         display: none;
//     }
    
// }
// @media (max-width: 320px) {
//     .description__text {
//         margin-top: 8px;
//     }



// }